<div row example-container>
	<div class="col-md-15 panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">Red Hat Seguros</h1>
		</div>
		<div class="panel-body">

			<h4>En Aseguradora Red Hat privilegiamos la red de servicios y
				asesoramiento, a través de una gestión dinámica y personalizada con
				Productores Asesores de Seguros en todo el país. En un corto
				período, hemos consolidado nuestra red de Centros de Atención y el
				desarrollo estratégico de Asesores Productores, logrando una
				significativa inserción de productos.</h4>

			<br />
			<h3>En seguro de Auto</h3>
			<br />

			<h4>Usted puede optar entre las siguientes coberturas:</h4>
			<br />
			<ul>

				<li><strong>A</strong> - Responsabilidad Civil·</li>
				<li><strong>B </strong>- Responsabilidad Civil, Pérdida Total
					por Incendio, Robo y/o Hurto y Accidente.</li>
				<li><strong>B1</strong>- Responsabilidad Civil, Pérdida Total
					por Incendio, Robo y/o Hurto.</li>
				<li><strong>C</strong> - Responsabilidad Civil, Pérdida Total y
					Parcial por Incendio, Robo y/o Hurto, Pérdida Total por Accidente.</li>
				<li><strong>C1</strong>- Responsabilidad Civil, Pérdida Total y
					Parcial por Incendio, Robo y/o Hurto.</li>
				<li><strong>CL (full) </strong>- Responsabilidad Civil, Pérdida
					Total y Parcial por Incendio, Robo y/o Hurto, Pérdida Total por
					Accidente; más Cristales, Cerraduras y Granizo.</li>
				<li><strong>D</strong> (Todo Riesgo con franquicia Fija)
					Responsabilidad Civil, Pérdida Total y Parcial por Incendio, Robo
					y/o Hurto y Accidente; más Cristales, Cerraduras sin franquicia y
					Granizo.</li>
			</ul>
			<br /> <br />
			<h4>Usted también cuenta con:</h4>

			<ul>
				<li>Servicio de Asistencia al vehículo (Auxilio mecánico y
					remolque).</li>

				<li>Instalación sin cargo de Dispositivo de localización y
					recupero vehícular en caso de robo o hurto (para unidades a partir
					de $ 250.000.- de suma asegurada de casco(*)).</li>

				<li>Cobertura en países limítrofes.</li>

				<li>Resposición de unidad 0Km hasta 6 meses de antigüedad del
					vehículo asegurado.</li>

				<li>(*) De acuerdo a zona de riesgo y políticas de suscripción.
					Verifique su póliza.</li> 
				<li>Red Hat Seguros, un servicio superior, brindado con eficiencia.</li>

				<li>Estos servicios se prestan según las normas de suscripción
					y aceptación de riesgo de Red Hat Seguros.</li>

				<li>Rastreador satelital.</li>

				<li>Cobertura para cristales laterales, luneta, parabrisas y
					cerraduras.</li>
			</ul>
		</div>
		<div class="panel-footer">* Estos servicios se prestan según las
			normas de suscripción y aceptación de riesgo de Red Hat Seguros.</div>
	</div>
	</div>